node_modules/
build
coverage.json
coverage

# templates
.env
subgraph.yaml

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
